{% if ice_cream.title == "Классический пломбир" %}
      <img class="img-fluid card-img-top" 
          height="400" width="300"
          src="https://glycemic-index.net/images/vUFiyRIJp7.webp">
{% elif ice_cream.title == "Мороженое с кузнечиками"  %}
      <img class="img-fluid card-img-top" 
      height="400" width="300"
      src="https://glycemic-index.net/images/zkM0leMEMd.webp">
{% else %}
      <img class="img-fluid card-img-top" 
      height="400" width="300"
      src="https://glycemic-index.net/images/AlJGzrxGsh.webp">
{% endif %}